---
import NavLayout from "../layouts/NavLayout.astro";
---

<NavLayout title="Sobre nosotros">
  <!-- Encabezado de la página -->
  <div class="bg-center h-96 bg-cover bg-no-repeat" style="background-image: url('https://i.postimg.cc/KjBtkNyW/portada2.jpg')">
  </div>

  <!-- Contenido principal -->
  <main class="container mx-auto p-8">
    <!-- Título y subtítulo -->
    <h1 class="text-4xl font-bold mb-4">Orden Religiosas Adoratrices</h1>
    <section class="p-8">
      <h2 class="text-2xl mb-3">Sirviendo con amor y misericordia</h2>

      <!-- Sección de información -->
      <section class="mb-8">
        <!-- Descripción -->
        <p>
          La Orden Religiosas Adoratrices es una congregación fundada en Madrid en 1856 por Santa Maria Micaela para servir a Dios y a mujeres en contextos de prostitución y otras situaciones de vulnerabilidad. Hace presencia en más de 25 países, entre los cuales se encuentran Colombia, Venezuela, Brasil, Perú, África, India, Japón, entre otros. Su carisma se centra en la liberación de la mujer flagelada por la prostitución, a través de la acogida, la integración, la promoción, la reinserción social y la liberación de mujeres vulneradas por diferentes situaciones como trata de personas, desplazamiento, maltrato intrafamiliar, explotación, pobreza extrema y otros flagelos que las esclavizan. Como institución, se centra en acoger y acompañar con amor y misericordia a la mujer y su núcleo familiar.
        </p>

        <!-- Misión -->
        <h3 class="text-xl font-semibold mt-8">MISIÓN</h3>
        <p>
          La misión de la Orden Religiosas Adoratrices incluye la liberación, integración personal, promoción y reinserción social de la mujer explotada por la prostitución o víctima de diversas formas de esclavitud. Además, incluye la denuncia por sus derechos, el conocimiento de las problemáticas sociales que les atañen y el análisis crítico de la realidad. Contribuyen al pleno desarrollo de los derechos de las mujeres en todo el mundo y al cambio social a través de la sensibilización y la denuncia de estructuras que no respetan los Derechos Humanos.
        </p>

        <!-- Visión -->
        <h3 class="text-xl font-semibold mt-8">VISIÓN</h3>
        <p>
          En el año 2025, la Orden Religiosas Adoratrices aspira a ser una comunidad de vida evangelizadora proyectada a la formación especializada de mujeres emprendedoras y líderes capaces de constituir su propia unidad productiva. Se espera que estas mujeres sean competentes para responder a la promoción de la familia y la sociedad.
        </p>

        <!-- Propósito -->
        <h3 class="text-xl font-semibold mt-8">PROPÓSITO</h3>
        <p>
          El Centro de Orientación y Formación Adoratriz en la ciudad de Manizales, desde sus talleres de formación técnico laboral, busca incentivar en la mujer el espíritu emprendedor empoderándola de su proyecto de vida, fortalecidas en Jesús Eucaristía como centro y fuerza; apoyadas en "El taller de vida" como proceso de nueva evangelización, con herramientas lúdico terapéuticas y apoyo psicológico que aportan para sanar heridas y romper cadenas que esclavizan.
        </p>
      </section>
    </section>
    <!-- Imágenes representativas -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <img src="https://i.postimg.cc/4y2GGxxv/about1.jpg" alt="Imagen representativa" />
      <img src="https://i.postimg.cc/Kj2fYPRx/about2.jpg" alt="Imagen representativa" />
      <img src="https://i.postimg.cc/RZBWbg2M/about3.jpg" alt="Imagen representativa" />
    </div>
  </main>

</NavLayout>

<!-- Estilos -->
<style>
  /* Estilos para los encabezados y el texto */
  h1, h2, h3 {
    color: #401665; /* Un tono marrón oscuro para los encabezados */
  }

  p {
    color: #4B4B4B; /* Un tono gris oscuro para el texto */
    line-height: 1.6; /* Espaciado entre líneas para mejorar la legibilidad */
    white-space: pre-line;
  }

  /* Estilos para el contenedor principal */
  .container {
    padding: 20px; /* Espaciado interno para el contenido */
  }
</style>
