---
import CardContent from "../components/CardContent";
import NavLayout from "../layouts/NavLayout.astro";
import type { Post } from "../types";

// Función asincrónica para obtener los últimos posts
async function fetchPosts() {
  try {
    const response = await fetch(
      import.meta.env.SECRET_API_URL + "/posts?pagination[limit]=3&sort=createdAt:desc"
    );
    if (response.status === 200) {
      return (await response.json()).data;
    } else {
      throw new Error("Failed to fetch posts");
    }
  } catch (error) {
    console.error("Error fetching posts:", error);
    return [];
  }
}

// Obtener los posts al cargar la página
const posts = await fetchPosts();
const hasPosts = posts.length > 0;
---

<NavLayout title="Centro de Orientación y Formación Religiosas Adoratrices Manizales">
  <!-- Slider de imágenes -->
  <div class="relative">
    <!-- Imagen -->
    <div class="relative items-center flex justify-center principal-image">
      <img
        class="absolute inset-0 w-full h-full object-cover"
        src="https://i.postimg.cc/G2xBRGDW/inicio.jpg"
        alt="Descripción de la imagen 1"
      />
    </div>
  </div>

  <!-- Descripción de la organización -->
  <p class="m-10 text-3xl text-center">
    Portal para dar a conocerse a las beneficiarias de la obra y contar con una ventana para promocionar los productos y servicios.
  </p>

  <!-- Sección de últimos posts -->
  <section class="latest-posts mt-12 m-6 flex items-center flex-col">
    <h2 class="text-3xl mb-8 text-center">Últimas publicaciones</h2>

    <!-- Verificación de disponibilidad de posts -->
    {hasPosts ? (
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {posts.map((post: Post) => (
          <!-- Tarjeta de post -->
          <a href={`/posts/${post.id}`} class="card overflow-hidden shadow-lg rounded-lg hover:shadow-xl transform transition duration-300 hover:scale-105">
            <img class="object-cover w-full h-48" src={post.attributes.image} alt="" />
            <div class="p-6">
              <h3 class="text-xl font-semibold text-dark-brown mb-2">{post.attributes.title}</h3>
              <CardContent  className="mb-3 font-normal text-gray-700" content={post.attributes.descripcion.split(" ").slice(0, 25).join(" ") + "..."} client:load />
            </div>
          </a>
        ))}
      </div>
    ) : (
      <!-- Manejo de falta de posts -->
      <div class="text-center">
        <p class="text-xl">No hay posts disponibles</p>
      </div>
    )}

    <!-- Botón para ver todos los posts -->
    {hasPosts && (
      <div class="text-center mt-8">
        <a href="/posts" class="btn text-xl button-more text-white py-2 px-6 rounded">Ver todos los posts</a>
      </div>
    )}
  </section>

</NavLayout>
<!-- Estilos -->
<style>
  .button-more {
    background-color: #9d7dbb;
  }
  .button-more:hover {
    background-color: #401665;
  }
  .principal-image {
    z-index: 0;
    height: 65vh;
  }
  .card {
    background-color: white;
  }
  .card:hover {
    background-color: #f3f4f6;
  }
  .text-dark-brown {
    color: #401665;
  }
</style>
