---
import NavLayout from '../layouts/NavLayout.astro';
import '../styles/services.css'
import type { Service } from '../types'

// Obtener los servicios al cargar la página
const response = await fetch(import.meta.env.SECRET_API_URL + '/services')
let services = [];
services = (await response.json()).data
---

<NavLayout title='Productos y Servicios'>
    <main class="container mx-auto p-8">
        <div class="container mx-auto">
            <h1 class="text-4xl mb-3 items-start font-bold text-purple">Productos y Servicios</h1>
        </div>
        {
            services.length === 0 && (
              <p>No hay productos ni servicios para mostrar en este momento</p>
            )
        }
        {
            services &&
            services.map((service: Service) => (
                <a href={`/services/${service.id}`} class="w-full">
                  <div
                    class="card flex flex-col items-center shadow-md md:flex-row hover:bg-light-blue"
                  >
                    <img
                      class="object-cover w-full md:h-auto md:w-48 my-4"
                      src={service.attributes.image}
                      alt=""
                    />
                    <div class="flex flex-col justify-between p-4 leading-normal">
                      <h5 class="mb-2 text-2xl font-bold tracking-tight text-purple">
                        {service.attributes.title}
                      </h5>
                      <h5 class="mb-3 font-normal text-gray-700 overflow-hidden" style="display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;">
                        {service.attributes.content}
                      </h5>
                    </div>
                  </div>
                </a>
            ))
        }
    </main>
</NavLayout>

<style>
    .text-purple {
        color: #401665; /* Color morado */
    }

    .button-more {
      background-color: #9d7dbb;
    }

    .button-more:hover {
      background-color: #401665;
    }

    .masonry {
        column-count: 3;
        column-gap: 1rem;
    }

    .card {
        border-radius: 1rem;
        transition: all 0.3s ease;
        padding: 0 1rem;
    }

    .card:hover {
        transform: scale(1.02);
    }

    .card-content-wrapper {
        position: relative;
    }

</style>
