---
import NavLayout from "../layouts/NavLayout.astro";
---

<NavLayout title="Trabajo Intercongregacional">
  <main class="container mx-auto p-8">
    <div class="container mx-auto">
      <h1 class="text-4xl font-bold text-purple">Trabajo Intercongregacional</h1>
    </div>
    <section class="p-8">
      <p class="mb-6">Desde el Proyecto Caminando Juntas abogamos por el trabajo en red. Las redes nos permiten luchar por objetivos comunes, tener más eficacia y mejorar nuestro camino a la hora de conseguir nuestros objetivos.</p>
      <div class="flex flex-wrap items-center mb-6">
        <img src="https://i.postimg.cc/qR64bYwp/intercongregacional.jpg" alt="Descripción de la imagen" class="w-full sm:w-1/3 mr-8 mb-4 sm:mb-0 rounded-lg shadow-md" />
      </div>
      <p class="mb-6">Trabajamos en red con numerosas entidades con las que compartimos objetivos comunes. Ofrecemos algunos servicios a las mujeres que atendemos, a través de un trabajo cohesionado con otras entidades especializadas en sectores concretos.</p>
      <p class="mb-6">El trabajo en red se extiende a través de alianzas que tenemos con otras entidades. Entre ellas cabe destacar la Red Adoratriz. A nivel de América, las adoratrices trabajamos con otros proyectos:</p>
      <ul class="list-disc pl-5 mb-6">
        <li class="mb-2">Hermanas Vicentinas</li>
        <li class="mb-2">Hermanas de la Presentación</li>
        <li class="mb-2">Hermanas Capuchinas</li>
        <li class="mb-2">Hermanas del Buen Pastor</li>
        <li class="mb-2">Parroquia</li>
      </ul>
    </section>
  </main>
</NavLayout>

<style>
  .text-purple {
    color: #401665; /* Color morado */
  }
</style>
